numpy==2.4.2
opencv-python==4.13.0.90
opencv-python-headless==4.10.0.84
packaging==26.0
peft==0.18.1
pi_heif==1.2.0
pillow==12.1.0
pillow-avif-plugin==1.5.2
pydantic==2.12.5
pydantic_core==2.41.5
PyYAML==6.0.3
requests==2.32.5
requests-toolbelt==1.0.0
supervision==0.27.0
torch==2.8.0
torchvision==0.23.0
tqdm==4.67.2
